.panel {

  &__heading {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }

  &__title {
    color: $deep-koama;
    font-size: 2em;
  }
  
  &__body {
    padding: 20px;
    padding-left: 5px;

    @media screen and (min-width: 768px) {
      padding: 20px;
    }
  }
}

.form {
  
  &_inline {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  &__input {
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #dedede;
    border-radius: 3px;
    color: $deep-koama;
    background-color: transparent;
  }

  &__input:focus {
    border: 1px solid $moody-blue;
  }

  &__button {
    padding: 6px 10px;
    background-color: transparent;
    color: $deep-koama;
    position: absolute;
    right: -48px;
    top: 11px;
    transition: all .3s;

    @media screen and (min-width: 768px) {
      right: -57px;
    }

    &:hover {
      background-color: $deep-koama;
      border-radius: 3px;
      color: #fff; 
    }
  }
}