html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e5e5e5;
}

.footer i {
  margin-top: 10px;
}

aside {
  float: left;
  width: 100%;
  #position: absolute;
}

.panel-custom {
  padding: 10px;
  width: 100%;
}

.lyrics-title {
  border-bottom: 1px solid #e5e5e5;
}

.profile-photo-sm {
  width: 55px;
  height: 55px;
}

.list-group {
  margin-top: 50px;
}

.page-title {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.btn-remove-all {
  margin: 20px;
}

/* Rewrite from bootstrap */
.panel-body {
  padding: 10px; /* original 15px */
}
/* END */
